@*
*@
@model List<Category>
@{
}
<html>
<body>
    <h3>Categories</h3>
    <br />
    <ul>
        @foreach (var category in Model)
        {
            <li>
                @category.Name
            </li>
        }
    </ul>
</body>
</html>